@media(max-width: 1024px){
    #cajaContenedora{
        padding: 0;
    }

    #cajaDR{
        float: none;
        width: 100%;
        
        #foto{
            width: 60%;
        }
    }
    #cajaIZ{
        float: none;
         width: 100%; 
          
    }
    form{
            top: 0;
            left: 0;
            margin-top: 2em;
            position: relative;
            width: 70%;
         }
}