
body{
    width: 100%; /* total 1260px  */
    height: 650px;
    margin: 45px auto;
    
}

/* LAYAUT  DE LA ESTRUCTURA */
header{
    width: 100%; /* el ancho es 100% poque la medida es equivalente al anchi total  del body*/
    height: 100px;
    background-color: aqua;
}

nav{
    width: 100%;
    height: 50px;
    background-color: yellow;
    ul{
        margin: 0;
    }
}

#cajaContenedora{
    width: 96.825%;  /* 1200px es a 1260px => 96.825%   operacion de paso a % => (1220 x 100)/1260 = 96.825   */
    padding: 0 1.639%; /* padding a derecha e izquierda de 20px   en  px es 1.639% segun la misma regla*/
    background-color: tomato;
    display: flow-root;
    
}
   /* CAJAS INTERIORES */

#cajaIZ{
    background-color: aqua;
    width: 63.934%; /* 780px es =>  48.75%*/
    height: 370px; 
    padding: 30px 1.282% 0 1.282%; /* 30px es => 3.846%   y   10px es => 1.282% */
    margin-right: 1.587%; /* 20px es => 1.587% */
    float: left;
    position: relative;
    p{
        text-align: justify;
    }
}
#cajaDR{
    background-color: darkorange;
    width: 29.365%; /* 370px es => 29.365% */
    height: 350px; 
    padding: 50px 0  0 7.5%; 
    float: left;
}
    /* FOOTER */
footer{
    width: 100%;
    height: 100px;
    background-color: blueviolet;
}


/* CONTENIDOS DE LAS CAJAS DE LA WEB  */

/* HEADER */

header{
    justify-items: center;
    align-content: center ;
}

/* NAV */

nav{
    align-content: center;
    ul{
        li{
            list-style: none;
            margin-left:0.819% ; /* 10px => 0.819% */
            float: left;
            a{
                display: inline-block;
                width:100px; 
                height: 25px;
                background-color: #D8D8D8;
                text-align: center;
                text-decoration: none;
            }
        }
        #inicioSesion{
            float: right;
            margin-right: 10px;
        }
    }
}



/* CAJAS DE LA IZQUIERDA  */

form{
    position: absolute;
    top:200px;
    left: 10px;
    width: 88.75%; /* 710px => 91.025% se corrige a 88.75% por el posicionamiento*/
    height: 180px;
    border: 1px solid black;
    padding: 0 0 0 70px; /* 70px => 9.85% */
    label{
        display: block;
    }
    input[type="text"]{
        width: 70.422%; /* 500px => 70.422% */
        padding-left: 10px;
        margin: 1em 0 1em 0;
        display: block;
    }

    input[type="submit"]{
        width: 21.126%; /* 150px => 21.126% */
        height: 2em;
        background-color:#D8D8D8 ;
        
    }
}

/* CAJA DERECHA  */

#cajaDR{
    #foto{
        width: 37.5%; /*  150px => 37.5%*/
        img{
           width: 100%; 
        }
    }
}

/* FOOTER */

footer{
    color: white;
    p{
        margin: 0;
    }
}


